
model:
  backbone: "resnet18"
  head: ""
  feat_dim: 128
  syncbn: True

criterion:
  name: "ce"
  temp: 0.5
  distill:
    type: "l2_encoded"
    temp: 2.0
    current_temp: 0.2
    past_temp: 0.01
    power: 1.0

optimizer:
  name: "sgd"
  learning_rate: 0.1
  learning_rate_prototypes: 
  momentum: 0.9
  weight_decay: 1e-4
  scheduler:
    cosine: True
    lr_decay_rate: 0.1
    warm: True
    warm_epochs: 10
    warmup_from_enc: 0.01
    warmup_to_enc: 
    warmup_from_prot: 
    warmup_to_prot: 

train:
  epochs: 50
  start_epochs: 50
  batch_size: 64

continual:
  n_cls: 100
  n_task: 5
  cls_per_task: 20
  target_task: 

buffer:
  type: "random"
  size: 200


dataset:
  name: "cifar100"
  size: 32
  folder: "/home/kouyou/datasets/"

linear:
  target_task: 4
  train:
    batch_size: 256
    epochs: 100
    learning_rate: 1.0
    momentum: 0.9
    weight_decay: 0 

log:
  name: "default"
  base: 
  explog_path: 
  mem_path: 
  model_path: 
  subset_path: 
  tb_path: 

# configファイルの保存先（main.py のlog_baseと同じにしないといけないので注意）
hydra:
  run:
    dir: "logs/${log.name}_${seed}_${date}/${dataset.name}/${continual.n_task}_${continual.cls_per_task}/${model.backbone}_${model.head}_${criterion.name}_${criterion.distill.type}${criterion.distill.power}_${optimizer.name}_${buffer.type}${buffer.size}"

seed: 777
date: "2026_0214"
print_freq: 10
num_workers: 8